### University of Washington - Machine Learning Specialization
<u>**Course 2**</u> - ***Machine Learning: Regression***<br><br>
<u>**WEEK 1**</u> - **Programming Assignment** (13 questions out of which answers of 4 questions are asked as quiz)

- This course is taught using a software tool called GraphLab and uses a python library called SFrame to manilupate the dataset.

- Since I was already familiar with Pandas, I did the programming assignments using the Pandas library.

#### Import Libraries

In [1]:
import pandas as pd
import numpy as np

1. **If you are using SFrame, import graphlab and load in the house data, otherwise you can also download the csv. (Note that we will be using the training and testing csv files provided).**

#### Load Dataset

In [2]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
print('The dataset has {} rows and {} columns'.format(*df.shape))

The dataset has 21613 rows and 21 columns

#### Change the dtypes of columns

In [4]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 
              'sqft_living15':float, 'grade':int, 'yr_renovated':int, 
              'price':float, 'bedrooms':float, 'zipcode':str, 
              'long':float, 'sqft_lot15':float, 'sqft_living':float, 
              'floors':str, 'condition':int, 'lat':float, 
              'date':str, 'sqft_basement':int, 'yr_built':int, 
              'id':str, 'sqft_lot':int, 'view':int}
df = df.astype(dtype_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null object
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null float64
bathrooms        21613 non-null float64
sqft_living      21613 non-null float64
sqft_lot         21613 non-null int32
floors           21613 non-null object
waterfront       21613 non-null int32
view             21613 non-null int32
condition        21613 non-null int32
grade            21613 non-null int32
sqft_above       21613 non-null int32
sqft_basement    21613 non-null int32
yr_built         21613 non-null int32
yr_renovated     21613 non-null int32
zipcode          21613 non-null object
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null float64
sqft_lot15       21613 non-null float64
dtypes: float64(8), int32(9), object(4)
memory usage: 2.7+ MB

2. **Split data into 80% training and 20% test data. Using SFrame, use this command to set the same seed for everyone. For those students not using graphlab please download the training and testing data csv files.**

#### Load testing and training dataset

**training data**

In [5]:
df_train = pd.read_csv('kc_house_train_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [6]:
print('The training dataset has {} rows and {} columns ({:.0f}% of the complete dataset)'.format(*df_train.shape, (df_train.shape[0]/df.shape[0])*100))

The training dataset has 17384 rows and 21 columns (80% of the complete dataset)

**testing data**

In [7]:
df_test = pd.read_csv('kc_house_test_data.csv')
df_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [8]:
print('The testing dataset has {} rows and {} columns ({:.0f}% of the complete dataset)'.format(*df_test.shape, (df_test.shape[0]/df.shape[0])*100))

The testing dataset has 4229 rows and 21 columns (20% of the complete dataset)

#### Assignment Questions

3. **Write a generic function that accepts a column of data (e.g, an SArray) â€˜input_featureâ€™ and another column â€˜outputâ€™ and returns the Simple Linear Regression parameters â€˜interceptâ€™ and â€˜slopeâ€™. Use the closed form solution from lecture to calculate the slope and intercept.**

In [9]:
def simple_linear_regression(input_feature, output):
    mean_x = np.mean(input_feature)
    mean_y = np.mean(output)
    mean_x_sq = np.mean(input_feature*input_feature)
    mean_x_y = np.mean(input_feature*output)
    slope = (mean_x_y-(mean_x*mean_y))/(mean_x_sq-(mean_x*mean_x))
    intercept = mean_y-(slope*mean_x)
    return (intercept, slope)

4. **Use your function to calculate the estimated slope and intercept on the training data to predict 'price' given 'sqft_living'.**

In [10]:
input_feature = df_train['sqft_living']
output = df_train['price']
(squarefeet_intercept, squarefeet_slope) = simple_linear_regression(input_feature, output)
print('Intercept: ',squarefeet_intercept)
print('Slope: ',squarefeet_slope)

Intercept:  -47116.07907289488
Slope:  281.95883963034294

5. **Write a function that accepts a column of data â€˜input_featureâ€™, the â€˜slopeâ€™, and the â€˜interceptâ€™ you learned, and returns an a column of predictions â€˜predicted_outputâ€™ for each entry in the input column.**

In [11]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = intercept+(slope*input_feature)
    return predicted_output

6. <u>***Quiz Question***</u> **: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?**

In [12]:
price_2650 = get_regression_predictions(2650, squarefeet_intercept, squarefeet_slope)
print('Predicted price: ${:.2f}'.format(price_2650))

Predicted price: $700074.85

7. **Write a function that accepts column of data: â€˜input_featureâ€™, and â€˜outputâ€™ and the regression parameters â€˜slopeâ€™ and â€˜interceptâ€™ and outputs the Residual Sum of Squares (RSS). Recall that the RSS is the sum of the squares of the prediction errors (difference between output and prediction).**

In [13]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    predicted_output = intercept+(slope*input_feature)
    RSS = (output - predicted_output)**2
    return RSS.sum()

8. <u>***Quiz Question***</u> **: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?**

In [14]:
RSS_train = get_residual_sum_of_squares(df_train['sqft_living'], df_train['price'], squarefeet_intercept, squarefeet_slope)
print('RSS of training data: {}'.format(RSS_train))
# 1.2e15

RSS of training data: 1201918354177283.0

9. **Note that although we estimated the regression slope and intercept in order to predict the output from the input, since this is a simple linear relationship with only two variables we can invert the linear function to estimate the input given the output!**

   **Write a function that accept a column of data:â€˜outputâ€™ and the regression parameters â€˜slopeâ€™ and â€˜interceptâ€™ and outputs the column of data: â€˜estimated_inputâ€™. Do this by solving the linear function output = intercept + slope*input for the â€˜inputâ€™ variable (i.e. â€˜inputâ€™ should be on one side of the equals sign by itself).**

In [15]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output-intercept)/slope
    return estimated_input

10. <u>***Quiz Question***</u> **: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing \\$800,000?**

In [16]:
estimated_sqft = inverse_regression_predictions(800000, squarefeet_intercept, squarefeet_slope)
print('The estimated square feet for the house priced at $800000 is {:.2f} sq.ft.'.format(estimated_sqft))

The estimated square feet for the house priced at $800000 is 3004.40 sq.ft.

11. **Instead of using â€˜sqft_livingâ€™ to estimate prices we could use â€˜bedroomsâ€™ (a count of the number of bedrooms in the house) to estimate prices. Using your function from (3) calculate the Simple Linear Regression slope and intercept for estimating price based on bedrooms. Save this slope and intercept for later (you might want to call them e.g. bedroom_slope, bedroom_intercept).**

In [17]:
input_feature_bedroom = df_train['bedrooms']
output_price = df_train['price']
(bedroom_intercept, bedroom_slope) = simple_linear_regression(input_feature_bedroom, output_price)
print('Intercept: ',bedroom_intercept)
print('Slope: ',bedroom_slope)

Intercept:  109473.17762295791
Slope:  127588.95293398833

12. **Now that we have 2 different models compute the RSS from BOTH models on TEST data.**

In [18]:
RSS_sqft_test = get_residual_sum_of_squares(df_test['sqft_living'], df_test['price'], squarefeet_intercept, squarefeet_slope)
RSS_bedroom_test = get_residual_sum_of_squares(df_test['bedrooms'], df_test['price'], bedroom_intercept, bedroom_slope)
print('RSS(sqft on test data): {}'.format(RSS_sqft_test))
print('RSS(bedrooms on test data): {}'.format(RSS_bedroom_test))

RSS(sqft on test data): 275402933617812.16
RSS(bedrooms on test data): 493364585960301.0

13. <u>***Quiz Question***</u> **: Which model (square feet or bedrooms) has lowest RSS on TEST data? Think about why this might be the case.**

- The model which uses '***sqft_living***' as the feature has the lowest RSS value out of the two.
- The reason is that, in the ***test dataset***, the ***sqft_living*** feature doesn't have much of outliers or high leverage points.